@layer base {
  table {
    @apply w-full;
  }

  thead {
    @apply hidden lg:table-header-group;
  }

  tr {
    @apply relative block max-w-full border-b-4 border-[#f0e9f8] lg:table-row lg:border-b-0 dark:border-[#4a426e];
  }

  tr:last-child {
    @apply border-b-0;
  }

  td:not(:first-child) {
    @apply lg:border-t-0 lg:border-r-0 lg:border-b-0 lg:border-l lg:border-[#f0e9f8] lg:dark:border-[#58507f];
  }

  th {
    @apply lg:p-3 lg:text-left;
  }

  td {
    @apply flex justify-between border-b border-[#f0e9f8] px-4 py-3 text-right align-top lg:table-cell lg:border-b-0 lg:p-3 lg:text-left lg:align-middle dark:border-[#4a426e];
  }

  td:last-child {
    @apply border-b-0;
  }

  tbody tr,
  tbody tr:nth-child(odd) {
    @apply lg:hover:bg-[#eee6f8] lg:dark:hover:bg-[#524b7a]/70;
  }

  td:before {
    content: attr(data-label);
    @apply pr-3 text-left font-semibold lg:hidden;
  }
}
